<footer class="footer" id="footer">
	<div class="lines"></div>
	<div class="footer__body container">
		<div class="footer__top flex">
			<div>
				<div class="contacts">
					<div class="contacts__title title">Контакты</div>
					<a href="tel:+79219871586" class="contacts__link flex">
						<i data-svg="img/svg/mobile-phone.svg"></i>
						+8 800 333 05 16
					</a>
					<a href="mailto:info@visarton.com" class="contacts__link flex">
						<i data-svg="img/svg/message-default.svg"></i>
						info@visarton.com
					</a>
				</div>
			</div>
			<div>
				<div class="downloads">
					<div class="downloads__title title">Скачать</div>
					<a href="pdf/dogovor.pdf" download class="downloads__link flex">
						<i data-svg="img/svg/download.svg"></i>
						<span>типовой договор</span>
					</a>
					<a href="pdf/VAO_presentation_rus.pdf" download class="downloads__link flex">
						<i data-svg="img/svg/download.svg"></i>
						<span>презентация</span>
					</a>
				</div>
			</div>
			<div>
				<div class="social flex">
					<div class="social__title flex">
						<div class="title">
							Подписаться
						</div>
						<ul class="social__list flex">
							<li><a href="https://www.instagram.com/visarton/" data-svg="img/svg/instagram.svg"
							       target="_blank"></a></li>
							<li><a href="https://www.behance.net/visarton" data-svg="img/svg/behance.svg"
							       target="_blank"></a></li>
							<li><a href="http://facebook.com/visarton" data-svg="img/svg/facebook.svg"
							       target="_blank"></a></li>
							<li><a href="https://www.linkedin.com/company/visarton/" data-svg="img/svg/linkedin.svg"
							       target="_blank"></a></li>
						</ul>
					</div>
					<div class="location">Наш адрес: Санкт-Петербург, 196158, Пулковское ш. д.14, литер E, пом. 256
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom flex">
			<div>
				<a href="" class="useful-link">О конфиденциальности</a>
			</div>
			<div>
				<a href="" class="useful-link">Старая версия сайта</a>
			</div>
			<div>
				<div class="menu flex">
					<div><a href="#slick-slide03" data-go-slide="3">Услуги</a></div>
					<div><a href="#slick-slide02" data-go-slide="2">Процесс</a></div>
					<div><a href="#slick-slide01" data-go-slide="1">Предложения</a></div>
					<div><a href="#slick-slide05" data-go-slide="5">О компании</a></div>
					<div><a href="#slick-slide07" data-go-slide="7">Портфолио</a></div>
					<div><a href="#slick-slide08" data-go-slide="8">Акции</a></div>
					<div><a href="#footer" data-go-slide="footer">Контакты</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>
