<header class="header" id="header">
    <a class="logo" href="#">
        <img src="img/svg/logo.svg" alt="">
    </a>
    <div class="language" data-language="Ru">
        <div>
            <button>Es</button>
        </div>
        <div>
            <button>En</button>
        </div>
        <div class="active">
            <button>Ru</button>
        </div>
    </div>
    <a href="mailto:qwe@qwe.qwe" class="header__message" data-svg="img/svg/message.svg"></a>
    <nav class="header__menu flex">
        <div class="lines"></div>
        <div class="menu-list">
            <div><a class="title" href="#slick-slide03" data-go-slide="3">Услуги</a></div>
            <div><a class="title" href="#slick-slide02" data-go-slide="2">Процесс</a></div>
            <div><a class="title" href="#slick-slide01" data-go-slide="1">Предложения</a></div>
            <div><a class="title" href="#slick-slide05" data-go-slide="5">О компании</a></div>
            <div><a class="title" href="#slick-slide07" data-go-slide="7">Портфолио</a></div>
            <div><a class="title" href="#slick-slide08" data-go-slide="8">Акции</a></div>
            <div><a class="title" href="#footer" data-go-slide="footer">Контакты</a></div>
        </div>
    </nav>
    <div class="header__toggle-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
