<div class="modal modal--thanks" id="thanks">
	<div class="modal--thanks__body">
		<div class="modal--thanks__title">Спасибо!</div>
		<div class="modal--thanks__ico" data-svg="img/svg/message.svg"></div>
		<div class="modal--thanks__status">Сообщение отправено</div>
	</div>
</div>
<div class="modal modal--tariff" id="tariff">
	<div class="modal__body">
		<div class="modal__title title">Пакет / оптимальный старт</div>
		<form action="" class="modal__form">
			<input type="text" placeholder="Имя">
			<input type="email" placeholder="email">
			<label class="checkbox">
				<input type="checkbox" checked>
				<span>Я принимаю условия конфиденциальности</span>
			</label>
			<div class="btn--wrap">
				<button type="submit" class="btn btn--green">заказать</button>
			</div>
		</form>
	</div>
</div>
<div class="modal modal--action" id="action">
	<div class="modal__body">
		<div class="modal__title title">Акция</div>
		<div class="modal__des editor">
			<p>При заключении договора в период до 30.06.2019, анализ и оценка имеющихся материалов и
				проектной документации, а также подбор оптимального набора визуализаций и ракурсов производится
				бесплатно.</p>
			<p>Дополнительно новым клиентам предоставляется скидка 10% на следующий проект. Скидкой можно
				воспользоваться при заключении договора в срок до 31.08.2019</p>
		</div>
		<div class="modal__subtitle">Получить консультацию</div>
		<form action="" class="modal__form">
			<input type="text" placeholder="Имя">
			<input type="tel" placeholder="Телефон">
			<label class="checkbox">
				<input type="checkbox" checked>
				<span>Я принимаю условия конфиденциальности</span>
			</label>
			<div class="btn--wrap">
				<button type="submit" class="btn btn--green">отправить</button>
			</div>
		</form>
	</div>
</div>

<div class="modal modal--project" id="neva_haus">
	<div class="modal__body">
		<div class="modal__title title">Нева Хаус</div>
		<div class="modal__des editor">
			<p>Великолепный пример элитного архитектурного проекта от известного петербургского архитектора Евгения
				Герасимова. Элементы традиций петровской эпохи представлены в современной интерпретации - сочетание
				кирпичной кладки и эмалитового стекла, благоустроенная набережная с ландшафтом в стиле побережья
				Финского залива. Классика и современность объединились в этом проекте на Петровском острове.</p>
			<p>На визуализации представлен вариант озеленения от нашей команды, а также сделан акцент на проработку
				кирпичной кладки и элементов декора.
			</p>
		</div>
	</div>
</div>
<div class="modal modal--project" id="ruchi">
	<div class="modal__body">
		<div class="modal__title title">Ручьи</div>
		<div class="modal__des editor">
			<p>Проект жилого квартала комфорт-класса на севере города. Особенностью данного архитектурного проекта
				является его локация - удаленность от шумной части города, при этом сохранена транспортная доступность и
				развитая социальная инфраструктура. Обилие зелени и комфортные планировки - идеальная комбинация для
				молодой семьи.</p>
			<p>Одной из задач было изображение масштабного плана застройки с высоты для наглядного представления
				достоинств данного жилого комплекса, а также для удобства ориентирования при выборе корпусов и очередей
				строительства.</p>
			<p>Особенностью данного проекта было использование фото живых деревьев в визуализации, что максимально точно
				передает атмосферу проживания в этом прекрасном районе.</p>
		</div>
	</div>
</div>
<div class="modal modal--project" id="family">
	<div class="modal__body">
		<div class="modal__title title">Фамилия</div>
		<div class="modal__des editor">
			<p>Камерный проект с лаконичной архитектурой на Петровском острове. Близость к воде и к историческому центру
				города - главные отличительные черты этого объекта. </p>
			<p>Для наглядного и точного представления данного объекта строительства была проведена вечерняя аэросъмка,
				благодаря которой перед нами открываются панорамные виды на набережную Макарова, мост Бетанкура, купол
				Исаакиевского собора и другие знаковые достопримечательности города.</p>
		</div>
	</div>
</div>
<div class="modal modal--project" id="slavynka">
	<div class="modal__body">
		<div class="modal__title title">Славянка</div>
		<div class="modal__des editor">
			<p>Популярный проект от петербургского застройщика “ПСК” - проект комфорт-класса в Пушкинском районе Санкт
				-Петербурга. Новый современный район с продуманной инфраструктурой.
			</p>
			<p>
				Цель создания визуализаций - показать будущее общественное пространство, доступное для жителей
				микрорайона. Проект находится в разработке, но уже сейчас можно увидеть образ будущей комфортной зоны
				отдыха для взрослых и детей.
			</p>
		</div>
	</div>
</div>
<div class="modal modal--project" id="start">
	<div class="modal__body">
		<div class="modal__title title">Старт</div>
		<div class="modal__des editor">
			<p>Новый инвест-проект от петербургского застройщика “ПСК”.
				Доступное жильё небольшого метража для собственного проживания или для получения дохода от сдачи в
				аренду. Все заботы по заселению и расчетам берет на себя опытная управляющая компания.
			</p>
			<p>Все визуализации были разработаны в крайне сжатые сроки -мы сделали невозможное и создали 10 изображений
				за 10 дней с нуля. Каждая визуализация демонстрирует доступные сервисы для владельцев апартаментов -
				транспортная доступность, торговые центры, кафе и рестораны, банки и аптеки. Всё необходимое для
				комфортной жизни - в шаговой доступности.
			</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="libs/jquery/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="libs/jquery/jquery-migrate-1.4.1.min.js"></script>

<script type="text/javascript" src="libs/slick/slick.min.js"></script>
<script type="text/javascript" src="libs/mousewheel/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="libs/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="libs/maskedinput/jquery.maskedinput.min.js"></script>


<script type="text/javascript" src="js/style.js"></script>

</body>
</html>
