//fonts
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Arial: Arial, Helvetica, sans-serif;

//  Colors
$white: #fff;
$black: #262637;
$green: #607D8B;

//  Body
$body: (
	line-height: 1.45,
	font-family: $Arial,
	max-font-size: 16px,
	min-font-size: 16px,
	font-weight: normal,

	color: $black,
	background-color: $white,

) !default;

// Media
/*
.example{
	font-size: 20px;
	color: red;
	@include media('<1200'){
		color: blue;
		font-size: 30px;
	}
}*/
$breakpoints: ('1200': 1200px, '992': 992px, '768': 768px, '480': 480px);
