@import "../../node_modules/include-media/dist/include-media";
@import "fonts";
@import "vars";
@import "mixins";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &:before, &:after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

html {
    $max-font-size: map_get($body, max-font-size);
    $min-font-size: map_get($body, min-font-size);
    font-size: 16px;
    min-height: 100%;
    height: 100%;
    @include responsive-font(vw($max-font-size), $min-font-size, $max-font-size);
    @include media('<1600px') {
        font-size: 13px;
    }
    @include media('<992') {
        font-size: 11px;
    }
    @include media('<768') {
        font-size: 16px;
    }
}

body {
    font: 400 rem(16px)/1 $Poppins;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    color: $black;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

a {
    transition: all .3s;
    display: inline-block;
    color: #333;
    text-decoration: none;
    &:hover,
    &:active {
        color: #333;
    }
    &.disabled {
        color: #333;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

a,
input,
button,
textarea,
select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

ol, ul {
    list-style: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    transition: all .3s;
    color: transparent !important;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    transition: all .3s;
    color: transparent !important;
}

input:focus:-ms-input-placeholder {
    /* IE 10+ */
    transition: all .3s;
    color: transparent !important;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    transition: all .3s;
    color: transparent !important;
}

[data-svg] {
    position: relative;
    overflow: hidden;
    display: inline-block;
    &.slick-arrow {
        position: absolute;
    }
}

.svg {
    display: inline-block;
    transition: all .3s;
    height: rem(20px);
    width: rem(20px);
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.wrapper {
    position: relative;
    flex: 1 0;
}

main.content {
    position: relative;
    display: block;
    @include media('<768') {
        padding-top: rem(60px);
    }
}

.container {
    width: 100%;
    max-width: rem(1440px);
    margin: 0 auto;
}

section {
    position: relative;
}

[data-thumb] {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    width: 100%;
    img {
        display: block;
        opacity: 0;
        width: 100%;
    }
}

.editor {
    position: relative;
}

.title {
    font-family: $Montserrat;
    font-weight: 800;
    font-size: rem(33px);
    line-height: 1.2;
    text-transform: uppercase;
    color: rgba(38, 38, 55, 0.85);
    display: inline-block;
    @include media('<768') {
        font-size: rem(26px);
    }
    &::after {
        content: '/';
        margin-left: rem(14px);
        font-weight: 700;
    }
}

/*
*************
    HEADER
*************
*/
.header {
    position: fixed;
    z-index: 888;
    left: 0;
    top: 0;
    width: 100%;
    transition: all .3s;
    background-color: rgba(255, 255, 255, 0);
    height: 0;
    @include media('<768') {
        height: rem(60px);
        display: flex;
        align-items: center;
        padding: 0 rem(15px);
        background-color: #E5E5E5;
        box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, .1);
    }
    &__message {
        position: absolute;
        display: block;
        top: rem(131px);
        left: rem(4px);
        transition: all .3s;
        @include media('<768') {
            position: relative;
            left: auto;
            top: auto;
            margin-right: rem(25px);
            height: rem(15px);
        }
        .svg {
            width: rem(35px);
            height: rem(16px);
            path {
                transform: translateX(-100%);
                &:nth-child(1) {
                    transition: all .3s;
                }
                &:nth-child(2) {
                    transition: all .5s;
                }
                &:nth-child(3) {
                    transition: all .7s;
                }
                &:nth-child(4) {
                    transform: translateX(0);
                }
            }
        }
        &:hover {
            transform: translateX(42%);
            .svg {
                path {
                    transform: translateX(0);
                }
            }
        }
    }
    &__menu {
        position: absolute;
        z-index: 100;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        transform: translateY(-100%);
        .menu-open & {
            transform: translateY(0);
        }
        .menu-list {
            position: relative;
            z-index: 10;
        }
        a {
            margin-bottom: rem(39px);
            &:hover {
                color: $green;
            }
            &::after {
                content: '/';
                margin-left: rem(14px);
                font-weight: 700;
            }
        }
    }
    &__toggle-menu {
        display: block;
        position: absolute;
        cursor: pointer;
        transition: all .3s;
        right: rem(24px);
        top: rem(38px);
        z-index: 110;
        @include media('<1200') {
            top: rem(26px);
            right: rem(17px);
        }
        @include media('<768') {
            position: relative;
            right: auto;
            top: auto;
        }
        .menu-open & {
            transform: translateX(5px);
        }
        span {
            display: block;
            width: 21px;
            height: 1px;
            background: $green;
            margin: 6px 0;
            transform: rotate(0deg);
            transition: .5s all ease;
            opacity: 1;
            &:nth-child(1) {
                .menu-open & {
                    transform: rotate(45deg) translateY(9.5px);
                }
            }
            &:nth-child(2) {
                .menu-open & {
                    opacity: 0;
                }
            }
            &:nth-child(3) {
                .menu-open & {
                    transform: rotate(-45deg) translateY(-9.5px);
                }
            }
        }
    }
}

.logo {
    display: block;
    position: absolute;
    left: rem(83px);
    top: rem(25px);
    @include media('<768') {
        position: relative;
        left: auto;
        top: auto;
        margin-right: auto;
    }
    img {
        display: block;
        width: rem(120px);
    }
}

.btn {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 0 rem(15px);
    height: rem(60px);
    font-size: rem(14px);
    line-height: 1;
    transition: all .3s;
    outline: none;
    box-shadow: none;
    text-decoration: none;
	text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    &--wrap {
        display: block;
    }
    &--white {
        background-color: $white;
        border-color: #E5E5E5;
        color: $black;
        &:hover {
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }
    &--green {
        background-color: $green;
        border-color: $green;
        color: $white;
        &:hover {
            background-color: $white;
            border-color: $white;
            color: $green;
        }
    }
    &[data-text] {
        position: relative;
        overflow: hidden;
        &::before {
            position: absolute;
            content: attr(data-text);
            background-color: transparent;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;
            transform: translateY(100%);
            color: $white;
        }
    }
    &--border {
        background-color: transparent;
        border-color: #E5E5E5;
        color: #E5E5E5;
        width: rem(215px);
        &:hover {
            background-color: $white;
            border-color: $white;
            color: $green;
        }
    }
}

.tab__body {
    width: 100%;
    & > div {
        display: none;
    }
}

/*
*************
    SLIDER
*************
*/
.slider {
    &.slick-dotted {
        margin-bottom: 0;
        height: 100vh;
        overflow: hidden;
    }
    .slick-dots {
        bottom: 50%;
        transform: translateY(50%);
        width: rem(5px);
        display: flex;
        flex-flow: row wrap;
        left: auto;
        right: rem(30px);
        li {
            flex: 0 0 rem(7px);
            width: rem(7px);
            height: rem(7px);
            background-color: #262637;
            border-radius: 20px;
            margin: 0 0 rem(24px);
            border: 1px solid $white;
            transition: all .3s;
            &:last-child {
                margin-bottom: 0;
            }
            &.slick-active {
                background-color: #C6D1D7;
            }
            button {
                display: none;
            }
        }
    }
    [role="tabpanel"],
    .slick-slide {
        outline: none;
        overflow: auto;
        border: 0;
    }
}

.slide {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 rem(60px);
    background-size: cover;
    @include media('<1200') {
        height: auto;
        padding: rem(60px);
    }
    @include media('<768') {
        height: auto;
        padding: rem(30px) rem(15px);
        overflow-x: hidden;
    }
    &--one {
		position: relative;
		overflow: hidden;
        .menu{
            transform: translateX(-50%);
            justify-content: flex-start;
            max-width: rem(1440px);
            left: 50%;
            & > div{
                &:first-child{
                    margin-left: 33.333%;
                    a{
                        margin-left: 0;
                    }
                }
            }
        }
		.slide__body{
			align-items: center;
			& > div{
				&:nth-child(1){
					flex: 0 0 100%;
					max-width: 100%;
				}
				&:nth-child(2){
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
                    @include media('<768') {
                        flex: 0 0 100%;
					    max-width: 100%;
                    }
				}
				&:nth-child(3){
					flex: 0 0 66.666666%;
					max-width: 66.666666%;
                    @include media('<768') {
                        flex: 0 0 100%;
					    max-width: 100%;
                    }
				}
			}
		}
    }
    &--five {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            background-color: rgba(38, 38, 55, 0.75);
            z-index: 5;
        }
		.checkbox{
			a{
				color: $white;
				border-bottom: 1px solid $white;
				display: inline-block;
				margin-left: rem(5px);
			}
		}
    }
    &--six {
        padding: 0;
        overflow: hidden;
        position: relative;
        @include media('<1200') {
            padding: 0;
        }
        @include media('<768') {
            padding-bottom: 0;
        }
        .container {
            max-width: rem(1560px);
        }
    }
    &--seven {
        @include media('<1200') {
            padding: 0;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            background-color: rgba(255, 255, 255, 0.85);
            z-index: 5;
        }
    }
    &--eight {
        padding: 0;
        @include media('<1200') {
            padding: 0;
        }
        @include media('<768') {
            padding-bottom: rem(100px);
        }
        .container {
            max-width: rem(1560px);
        }
    }
    &--nine {
        @include media('<992') {
            padding: rem(60px) 0;
        }
    }
    &__body {
        position: relative;
        z-index: 10;
    }
}

.language {
    position: absolute;
    left: rem(23px);
    top: rem(9px);
    @include media('<768') {
        position: relative;
        left: auto;
        top: auto;
        overflow: hidden;
        max-height: rem(20px);
        &::before {
            content: attr(data-language);
            padding-right: rem(15px);
            margin: rem(3px) 0 rem(5px);
            text-transform: uppercase;
            font-family: $Montserrat;
            display: block;
            background: transparent url(../img/svg/download-arrow.svg) no-repeat center right/rem(12px);
        }
        &:hover {
            overflow: visible;
        }
    }
    button {
        font-weight: 600;
        font-size: rem(11px);
        text-transform: uppercase;
        color: $black;
        padding: rem(3px) 0;
        margin-bottom: rem(13px);
        border-bottom: 2px solid transparent;
        @include media('<768') {
            margin-bottom: 0;
            padding: rem(5px) 0;
            background-color: #fff;
            width: rem(27px);
            border-color: transparent;
        }
        &:hover {
            color: $green;
            border-color: $green;
        }
    }
    .active button {
        color: $green;
        border-color: $green;
        @include media('<768') {
            border-color: transparent;
        }
    }
}

.lines {
    background-color: #C6D1D7;
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 3;
    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: rem(240px);
        height: 100%;
        background-color: transparent;
        border-left: 1px solid #C6D1D7;
        border-right: 1px solid #C6D1D7;
        top: 0;
    }
    &::before {
        left: rem(-480px);
    }
    &::after {
        right: rem(-480px);
    }
}

/*
*************
    FS
*************
*/
.menu {
    z-index: 20;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: rem(103px);
    align-items: center;
    justify-content: flex-end;
    padding-top: rem(4px);
    @include media('<1200') {
        height: rem(85px);
    }
    @include media('<768') {
        display: none;
    }
    & > div:last-child a {
        margin-right: 0;
    }
    a {
        font-weight: 500;
        font-size: rem(12px);
        text-transform: uppercase;
        color: $black;
        padding: rem(6px) 0;
        margin: 0 rem(26px);
        border-bottom: 2px solid transparent;
        @include media('<1200') {
            margin: 0 rem(12px);
        }
        &:hover {
            color: $green;
            border-color: $green;
            font-weight: 700;
        }
    }
    .active a {
        color: $green;
        border-color: $green;
        font-weight: 700;
    }
}

.fs {
    &__slide {
        border-top: 1px solid #C6D1D7;
        border-bottom: 1px solid #C6D1D7;
        @include media('<1600px') {
            margin-top: rem(60px);
        }
        @include media('<1200') {
            margin-top: rem(30px);
        }
        @include media('<768') {
            margin-top: 0;
        }
        & > div {
            &:nth-child(1) {
                flex: 0 0 33.333%;
                max-width: 33.333%;
                padding-left: rem(36px);
                align-items: center;
                align-content: center;
                @include media('<1200') {
                    padding-left: 0;
                }
                @include media('<768') {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            &:nth-child(2) {
                flex: 0 0 66.666%;
                max-width: 66.666%;
                @include media('<768') {
                    padding: rem(30px) 0;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    &__preview{
        max-height: rem(500px);
    }
    &__title {
        font-size: rem(40px);
        font-weight: 800;
        line-height: 1.3;
        margin-bottom: rem(7px);
        &::after{
            content: none;
        }
        @include media('<1200') {
            font-size: rem(35px);
        }
        @include media('<768') {
            font-size: rem(30px);
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: rem(31px);
        text-transform: uppercase;
        color: $green;
        letter-spacing: .05em;
        line-height: 1.2;
        @include media('<1200') {
            font-size: rem(25px);
        }
        @include media('<768') {
            font-size: rem(20px);
        }
    }
    &__nav {
        align-items: center;
        & > div {
            flex: 0 0 100%;
            max-width: 100%;
            border-bottom: 1px solid #C6D1D7;
            @include media('<768') {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
        span {
            height: rem(72px);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $Montserrat;
            font-weight: 500;
            text-transform: uppercase;
            transition: all .3s;
            cursor: pointer;
            @include media('<640px') {
                flex-direction: column;
                font-size: rem(10px);
                i {
                    height: rem(35px);
                }
            }
            .svg {
                width: auto;
                height: auto;
                fill: $green;
                margin-right: rem(15px);
                @include media('<640px') {
                    margin-right: 0;
                }
                &-photo-camera {
                    stroke: $green;
                }
            }
            &:hover {
                background-color: $green;
                font-weight: 800;
                color: $white;
                .svg {
                    fill: #C6D1D7;
                    &-photo-camera {
                        stroke: #C6D1D7;
                    }
                }
            }
        }
        .active span {
            background-color: $green;
            font-weight: 800;
            color: $white;
            .svg {
                fill: #C6D1D7;
                &-photo-camera {
                    stroke: #C6D1D7;
                }
            }
        }
    }
    &__des {
		padding-left: rem(50px);
        @include media('<768') {
            padding-left: 0;
        }
        & > div {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .editor {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: rem(18px);
			margin: rem(15px) 0;
            line-height: 1.5;
            @include media('<768') {
                padding-top: rem(15px);
            }
            &::before {
                content: '/';
                display: block;
                font-weight: 700;
                margin-right: rem(10px);
                transform: translateY(rem(4px));
            }
        }
    }
}

/*
*************
    OFFER
*************
*/
.offer {
    &__title {
        position: absolute;
        left: rem(40px);
        top: rem(-8px);
        max-width: rem(300px);
        @include media('<1200') {
            left: 0;
        }
        @include media('<992') {
            position: relative;
            left: auto;
            top: auto;
            margin-bottom: rem(30px);
        }
    }
    &__content {
        align-items: center;
        & > div {
            &:nth-child(1) {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding-left: rem(42px);
                @include media('<1200') {
                    padding-left: 0;
                }
                @include media('<992') {
                    display: none;
                }
            }
            &:nth-child(2) {
                flex: 0 0 66.666666%;
                max-width: 66.666666%;
                @include media('<992') {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    &__slider {
        .slick-arrow {
            border: 1px solid #C6D1D7;
            justify-content: center;
            height: rem(60px);
            align-items: center;
            width: rem(200px);
            position: absolute;
            display: flex;
            left: rem(-38px);
            z-index: 5;
            right: auto;
            top: auto;
            bottom: 0;
            @include media('<1200') {
                left: rem(-55px);
                width: rem(155px);
            }
            @include media('<992') {
                left: 5%;
            }
            @include media('<768') {
                left: auto;
                width: rem(120px);
            }
            &::before {
                content: none;
            }
            .svg {
                width: auto;
                height: auto;
                fill: #C6D1D7;
            }
            &:hover {
                border-color: $green;
                z-index: 10;
                .svg {
                    fill: $green;
                }
            }
        }
        .slick-prev {
            transform: translateX(calc(-200% - 3px));
            @include media('<992') {
                transform: translateX(0);
            }
        }
        .slick-next {
            transform: translateX(-100%);
            @include media('<992') {
                transform: translateX(150%);
            }
            @include media('<768') {
                right: 0;
                transform: translateX(0);
            }
        }
        &__nav {
			.slick-list{
				padding: 0!important;
			}
            .slick-track{
                padding-left: rem(20px);
            }
            .slick-slide {
                font-weight: 600;
                font-size: rem(14px);
                display: flex;
                align-items: center;
                height: rem(38px);
                text-transform: uppercase;
                transition: all .3s;
                cursor: pointer;
                transform: translateY(rem(78px));
                &:hover {
                    color: $green;
                }
				&.hide{
					opacity: 0;
				}
            }
            .slick-center {
                color: $green;
                margin-left: rem(-20px);
            }
        }
    }
}

.slide-offer {
	overflow: hidden;
	position: relative;
    & > div {
        flex: 0 0 50%;
        max-width: 50%;
        &:first-child{
            align-items: flex-start;
        }
        @include media('<768') {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &:nth-child(1) {

        }
        @include media('<768') {
            &:nth-child(2) {
                order: -1;
                margin-bottom: rem(30px);
            }
        }

    }
    &__info {
        max-width: rem(320px);
        margin: 0 auto;
		height: 100%;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100%;
        @include media('>1200') {
            opacity: 0;
            transform: translateY(rem(15px));
            transition: all .5s;
            .animate--true & {
                opacity: 1;
                transform: translateY(0);
            }
        }
        @include media('<992') {
			background: transparent !important;
            max-width: 90%;
            margin: 0;
        }
        @include media('<768') {
            max-width: 100%;
            margin: 0 0 rem(80px);
        }
    }
    &__title {
        font-weight: 500;
        font-size: rem(24px);
        line-height: 1.2;
        margin-bottom: rem(15px);
        font-family: $Montserrat;
        color: $green;
        text-transform: uppercase;
    }
    &__preview {
		max-height: rem(558px);
		min-height: rem(558px);
        @include media('>1200') {
            display: flex;
            justify-content: center;
			align-items: flex-end;
            transform: translateX(1px);
            max-width: 0;
            overflow: hidden;
            opacity: 0;
            transition: all .5s;
            .animate--true & {
                opacity: 1;
                max-width: rem(394px);
            }
        }
        img {
			width: auto!important;
			height: auto!important;
			display: block;
        }
    }
    .editor {
        line-height: 1.5;
        @include media('<992') {
            font-size: rem(20px);
        }
    }
}

/*
*************
    PROCESS
*************
*/
.processes {
    padding: 0 rem(40px);
    @include media('<1200') {
        padding: 0;
    }
    &__title {
        top: rem(135px);
        left: rem(65px);
        position: absolute;
        @include media('<992') {
            left: auto;
            top: auto;
            position: relative;
            margin-bottom: rem(30px);
        }
    }
    &__list {
        & > div {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            margin-bottom: rem(50px);
            transition: all .5s;
            @include media('>1200') {
                opacity: 0;
                &.animation--true{
                    opacity: 1;
                }
            }
            @include media('<1200') {
                padding: 0 rem(5px);
            }
            @include media('<992') {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include media('<768') {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:first-child {
                margin-left: 33.333333%;
                @include media('<992') {
                    margin-left: 0;
                }
            }
        }
    }
}

.process {
    max-width: rem(400px);
    margin: 0 auto;
    &__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: rem(130px);
        margin-bottom: rem(10px);
        @include media('<1200') {
            min-height: rem(160px);
        }
        .svg {
            width: auto;
            height: auto;
            @include media('<992') {
                max-height: rem(120px);
            }
        }
    }
    &__des {
        line-height: 1.6;
        @include media('<992') {
            font-size: rem(20px);
        }
    }
}

/*
*************
    SERVICES
*************
*/
.services {
    position: relative;
    align-items: flex-end;
    &__title {
        position: absolute;
        top: rem(-8px);
        left: rem(40px);
        @include media('<768') {
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: rem(30px);
        }
    }
    & > div {
        max-width: 33.3333333%;
        flex: 0 0 33.3333333%;
        @include media('<768') {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: rem(15px);
        }
        &:nth-child(2) {
            .service .btn--wrap {
                border-left: 0;
            }
        }
    }
}

.service {
    &__preview {
        position: relative;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
			min-height: rem(320px);
        }
    }
    &__hover {
        position: absolute;
        transition: all .5s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
		padding: rem(10px);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(242, 242, 242, .95);
    }
    &__list {
        max-width: rem(350px);
        & > div {
            font-weight: 700;
            line-height: 1.3;
            flex-wrap: nowrap;
            margin-bottom: rem(13px);
        }
        p {
            flex: 1 0;
        }
        span {
            display: inline-block;
            color: $green;
            border-bottom: 1px solid $green;
            i {
                overflow: visible;
            }
        }
        .svg-check {
            flex: 0 0 rem(16px);
            height: auto;
            margin-right: rem(8px);
            margin-top: rem(3px);
        }
        .svg-present {
            position: absolute;
            left: rem(5px);
            top: rem(-14px);
        }
    }
    .btn--wrap {
        background-color: #fff;
        padding: rem(50px) rem(40px);
        border-left: 1px solid #C6D1D7;
        @include media('<768') {
            padding: rem(15px);
        }
    }
    &:hover {
        .service {
            &__hover {
                opacity: 1;
                transform: translateY(0);
            }
        }
        [data-text]{
            color: transparent;
            background-color: $green;
            padding-bottom: rem(50px);
            &::before {
                color: $white;
                transform: translateX(0);
            }
        }
    }
}

/*
*************
    FORM
*************
*/
.input {
    background: rgba(38, 38, 55, 0.6);
    border: 1px solid #E5E5E5;
    height: rem(60px);
    font-size: rem(16px);
    display: block;
    width: 100%;
    font-weight: 600;
    color: $white;
    text-indent: rem(20px);
    transition: all .3s;
    &:hover {
        color: rgba(38, 38, 55, 0.85);
        background-color: $white;
        border-color: $white;
        &::-webkit-input-placeholder {
            color: rgba(38, 38, 55, 0.85);
        }
        &::-moz-placeholder {
            color: rgba(38, 38, 55, 0.85);
        }
        &:-ms-input-placeholder {
            color: rgba(38, 38, 55, 0.85);
        }
        &:-moz-placeholder {
            color: rgba(38, 38, 55, 0.85);
        }
    }
    &::-webkit-input-placeholder {
        color: $white;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        color: $white;
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        color: $white;
        text-transform: uppercase;
    }
    &:-moz-placeholder {
        color: $white;
        text-transform: uppercase;
    }
}

.input--file {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
}

textarea.input {
    resize: none;
    height: rem(152px);
    font-size: rem(17px);
    padding-top: rem(20px);
}

.form {
    align-items: center;
    flex-direction: column;
    max-width: rem(880px);
    margin: 0 auto;
    &__title {
        text-align: center;
        color: $white;
        max-width: rem(650px);
        line-height: 1.2;
        margin-bottom: rem(40px);
    }
    &__subtitle {
        font-family: $Montserrat;
        text-transform: uppercase;
        max-width: rem(570px);
        font-size: rem(24px);
        line-height: 1.4;
        font-weight: 600;
        text-align: center;
        color: $white;
        margin-bottom: rem(40px);
        @include media('<768') {
            font-size: rem(18px);
        }
    }
    &__form {
        margin: 0 rem(-22px);
        & > label {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            position: relative;
            padding: 0 rem(22px);
            margin-bottom: rem(18px);
            @include media('<768') {
                max-width: 100%;
                flex: 0 0 100%;
            }
            &:nth-child(5),
            &:nth-child(8){
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:nth-child(6) {
                .flex {
                    align-items: center;
                    font-weight: 600;
                    font-size: rem(16px);
                    text-transform: uppercase;
                    color: $white;
                    cursor: pointer;
                }
                .svg {
                    width: rem(19px);
                    height: rem(19px);
                    fill: $white;
                    margin-right: rem(10px);
                }
            }
            &:nth-child(7) {
                span{
                    color: $white;
                }
            }
            .btn {
                width: 100%;
                max-width: rem(440px);
                margin: 0 auto;
            }
        }
    }
}

/*
*************
    ABOUT
*************
*/
.about {
    & > div {
        flex: 0 0 50%;
        max-width: 50%;
        height: 100vh;
        padding-top: rem(130px);
        @include media('<1200') {
            height: auto;
        }
        @include media('<992') {
            padding-top: rem(80px);
        }
        @include media('<768') {
            padding-top: rem(20px);
            flex: 0 0 100%;
            max-width: 100%;
        }
        .title {
            margin-left: rem(100px);
            max-width: rem(270px);
            @include media('<992') {
                margin-bottom: rem(50px);
            }
            @include media('<768') {
                margin-left: 0;
                margin-bottom: rem(20px);
            }
        }
    }
    &__info {
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column;
        @include media('<480') {
            background-size: 90%;
        }
    }
    &__description {
        flex: 1 0;
        align-items: center;
        align-content: center;
        max-width: rem(690px);
        padding: 0 rem(15px) 0 rem(100px);
        line-height: 1.8;
        font-size: rem(16px);
        @include media('<992') {
            font-size: rem(20px);
        }
        @include media('<768') {
            padding: 0;
        }
        strong {
            font-weight: 600;
        }
        p {
            margin-bottom: rem(30px);
        }
    }
    &__preview {
        top: 0;
        left: 50%;
        width: 50vw;
        max-width: 50vw!important;
        height: 100% !important;
        position: absolute;
        z-index: 1;
        background-size: cover;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center bottom;
        transition: all .5s;
        opacity: 1;
        @include media('<768') {
            display: none;
        }
        &.hide {
            transform: translateX(100%);
            opacity: 0;
        }
        .title {
            color: $white;
        }
        .btn--wrap {
            padding-top: rem(130px);
            display: flex;
            justify-content: center;
        }
    }
    &__team {
        align-content: space-between;
    }
}

.team-list {
    & > li {
        flex: 0 0 20%;
        max-width: 20%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all .5s;
        display: block;
        width: 100%;
        filter: grayscale(100%);
        opacity: .9;
        &::before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            bottom: 0;
            left: 0;
            height: rem(60px);
            background: $green url(../img/svg/plus.svg) no-repeat center / rem(35px);
            z-index: 1;
            transition: all .3s;
            transform: translateY(100%);
            @include media('<768') {
                height: rem(25px);
                background: $green url(../img/svg/plus.svg) no-repeat center / rem(15px);
            }
        }
        img{
            width: 100%;
            display: block;
        }
        &:hover{
            filter: grayscale(0);
            &::before {
                transform: translateY(0);
            }
        }
        &.active {
            filter: grayscale(0);
        }
    }
}

.worker {
    @include media('<992') {
        margin-bottom: rem(50px);
    }
    &__preview {
        flex: 0 0 rem(242px);
        max-width: rem(242px);
        @include media('<992') {
            flex: 0 0 rem(200px);
            max-width: rem(200px);
        }
        @include media('<768') {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: rem(20px);
        }
        img {
            display: block;
            width: 100%;
            @include media('<768') {
                width: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    &__info {
        flex: 1 0;
        padding-left: rem(52px);
        max-width: rem(445px);
        @include media('<992') {
            padding-left: rem(20px);
        }
    }
    &__title {
        font-family: $Montserrat;
        font-weight: 600;
        font-size: rem(24px);
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: rgba(38, 38, 55, 0.85);
        margin-bottom: rem(20px);
        @include media('<992') {
            font-size: rem(20px);
            text-align: left;
        }
    }
    &__des {
        line-height: 1.8;
        @include media('<992') {
            line-height: 1.6;
            font-size: rem(18px);
            text-align: left;
        }
    }
}

/*
*************
    ADVANTAGES
*************
*/
.advantages-slider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    .slick-slide {
        img {
            width: 100%;
            @include media('<768') {
                width: auto;
                height: 100%;
                max-height: rem(480px);
            }
        }
    }
}

.advantages {
    padding-bottom: rem(230px);
    @include media('<1200') {
        padding: rem(200px) 0;
    }
    @include media('<768') {
        padding: rem(20px) 0;
    }
    &__title {
        width: 100%;
        text-align: center;
        margin-bottom: rem(200px);
        @include media('<1200') {
            margin: 0 0 rem(100px);
        }
        @include media('<768') {
            margin: 0 0 rem(30px);
        }
    }
}

.advantages-nav-list {
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    @include media('<768') {
        flex-flow: column wrap;
    }
}

.advantage {
    align-items: flex-start;
    flex-wrap: nowrap;
    &__number {
        -webkit-text-stroke: 1px #B4C4CC;
        font-family: $Montserrat;
        text-transform: uppercase;
        margin-right: rem(60px);
        font-size: rem(144px);
        text-align: center;
        position: relative;
        font-weight: 800;
        color: transparent;
        transition: all .3s;
        cursor: pointer;
        @include media('<1200') {
            font-size: rem(100px);
        }
        @include media('<768') {
            margin-right: 0;
            font-size: rem(50px);
        }
        .advantage--open & {
            margin-right: rem(100px);
            color: #B4C4CC;
        }
        &::after {
            content: '/';
            font-weight: 400;
            opacity: 0;
            position: absolute;
            display: inline-block;
            transform: translateX(0);
            @include media('<768') {
                content: none;
            }
            .advantage--open & {
                transform: translateX(rem(20px));
                opacity: 1;
            }
        }
    }
    &__body {
        position: relative;
        overflow: hidden;
        font-size: rem(24px);
        line-height: 1.5;
        transition: all .3s;
        color: rgba(38, 38, 55, 0.85);
        max-width: 0;
        width: 100%;
        opacity: 0;
        padding-top: rem(18px);
        @include media('<1200') {
            font-size: rem(19px);
        }
        @include media('<768') {
            position: absolute;
            padding-top: rem(3px);
            left: rem(50px);
            top: 0;
        }
        .advantage--open & {
            max-width: rem(500px);
            opacity: 1;
            @include media('<992') {
                max-width: rem(300px);
            }
            @include media('<768') {
                max-width: calc(100% - 50px);
            }
        }
        p {
            min-width: rem(500px);
            margin-bottom: rem(20px);
            @include media('<992') {
                min-width: rem(300px);
            }
            @include media('<768') {
                min-width: calc(100% - 50px);
                margin-bottom: 0;
            }
        }
    }
}

/*
*************
	PORTFOLIO
*************
*/
.partners {
    &__top {
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        @include media('<1600px') {
            padding-left: rem(63px);
        }
        @include media('<768') {
            padding-left: 0;
            width: 100%;
            text-align: center;
        }
    }
    &__list {
        max-width: rem(850px);
        padding: 0 rem(60px);
        @include media('<992') {
            margin: 0 auto;
            padding: rem(30px) rem(60px);
        }
        @include media('<580px') {
            max-width: 100%;
        }
        .slick-slide {
            padding: 0 rem(15px);
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .slick-arrow {
            justify-content: center;
            transform: translateY(0);
            align-items: center;
            width: rem(60px);
            display: flex;
            height: 100%;
            z-index: 5;
            top: 0;
            &::before {
                content: none;
            }
            .svg {
                width: auto;
                height: auto;
                fill: $green;
            }
        }
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-disabled {
            display: none !important;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(101px);
		width: rem(210px);
        cursor: pointer;
        filter: grayscale(100%);
        opacity: .6;
        transition: all .3s;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
    .active {
        .partners {
            &__logo {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

.projects {
    &__info {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        background-color: $green;
        padding: rem(50px) rem(45px);
        & > .tab__list,
        & > .projects__box{
            flex: 0 0 100%;
            max-width: 100%;
        }
        @include media('<768') {
            flex: 0 0 100%;
            max-width: 100%;
            padding: rem(25px) rem(15px);
        }
        .btn--border {
            width: 100%;
            margin-bottom: rem(15px);
            i {
                transform: translateY(-50%);
                display: inline-block;
                transition: all .3s;
                position: absolute;
                opacity: 0;
                right: 50%;
                top: 50%;
            }
            .svg {
                fill: $green;
                width: auto;
                height: auto;
            }
            &:hover {
                justify-content: flex-start;
                i {
                    right: rem(15px);
                    opacity: 1;
                }
            }
        }
        .active{
            .btn--border{
                background-color: $white;
                border-color: $white;
                color: $green;
                justify-content: flex-start;
                i {
                    display: none;
                }
            }
        }
    }
    &__box {
        align-items: center;
        justify-content: space-between;
    }
    &__more {
        border-bottom: 1px solid $white;
        text-transform: uppercase;
        font-size: rem(16px);
        line-height: 1.5;
        font-weight: 600;
        color: $white;
        &:hover {
            color: $black;
            border-color: $black;
        }
    }
    &__preview {
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
        max-height: rem(500px);
        min-height: rem(450px);
        overflow: hidden;
        position: relative;
        background-position: center bottom;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        @include media('<768') {
            flex: 0 0 100%;
            max-width: 100%;
            min-height: 50vw;
        }
        img {
            width: 100%;
        }
    }
}

.portfolio-slider {
    .slick-slide {
        overflow: hidden;
        max-height: rem(210px);
        display: flex;
        align-items: flex-end;
		@include media('<480') {
			max-height: rem(55px);
		}
		@include media('<768') {
			max-height: rem(90px);
		}
        img {
            cursor: pointer;
            width: 100%;
            height: auto;
        }
    }
    .slick-arrow {
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 5;
        top: 50%;
        width: rem(73px);
        height: rem(73px);
        background-color: rgba(0, 0, 0, 0.4);
        @include media('<768') {
            top: 100%;
            transform: translateY(rem(15px));
        }
        &::before {
            content: none;
        }
        .svg {
            width: auto;
            height: auto;
            fill: $white;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            .svg {
                fill: $green;
            }
        }
    }
    .slick-prev {
        left: rem(60px);
    }
    .slick-next {
        right: rem(60px);
    }
}

/*
*************
	ACTION
*************
*/
.action {
    &--title {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: rem(50px);
    }
    & > div {
        flex: 0 0 50%;
        max-width: 50%;
        @include media('<768') {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &__preview {
        img {
            display: block;
            max-width: 100%;
        }
    }
    &__body {
        background-color: $white;
        text-align: center;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 rem(15px);
    }
    &__date {
        width: rem(310px);
        padding: rem(45px) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(96, 125, 139, .5);
        font-family: $Montserrat;
        font-weight: 800;
        font-size: rem(33px);
        text-transform: uppercase;
        color: $black;
    }
    &__title {
        padding: rem(45px) 0;
        line-height: 1.8;
        font-size: rem(18px);
        flex: 0 0 100%;
        max-width: 100%;
        p{
            margin: 0 auto;
            max-width: rem(400px);
        }
        span {
            display: inline-block;
            color: $green;
            border-bottom: 1px solid $green;
            i {
                overflow: visible;
            }
        }
        @include media('<768') {
            font-size: rem(25px);
        }
    }
    &__des{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: rem(50px);
    }
    .btn {
        width: 100%;
        max-width: rem(400px);
        box-shadow: 0 rem(5px) rem(15px) 0 rgba(0, 0, 0, .1);
        margin-bottom: rem(20px);
    }
}

/*
*************
    FOOTER
*************
*/
.step-one {
    transition: all .4s;
    transform: translateY(0);
    &.step-two {
        transform: translateY(-289px);
        @include media('<1600px') {
            transform: translateY(-235px);
        }
    }
}

.footer {
    position: relative;
    z-index: 777;
    width: 100%;
    overflow: hidden;
    background-color: #E5E5E5;
    padding: 0 rem(60px);
    @include media('<992') {
        padding: 0 rem(15px);
    }
    &__body {
        border-top: 1px solid #C6D1D7;
        z-index: 5;
        position: relative;
        padding: rem(40px) 0;
    }
    &__top,
    &__bottom {
        & > div {
            &:nth-child(1) {
                flex: 0 0 25%;
                max-width: 25%;
                @include media('<992') {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @include media('<550px') {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            &:nth-child(3) {
                margin-left: auto;
                @include media('<992') {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    &__bottom {
        padding-top: rem(25px);
        align-items: center;
        & > div {
            &:nth-child(3) {
                @include media('<992') {
                    display: none;
                }
            }
        }
    }
    .title {
        font-size: rem(24px);
        text-transform: none;
        margin-bottom: rem(20px);
    }
    .menu {
        padding: 0;
        position: relative;
        height: auto;
        background-color: transparent;
        max-width: 100%;
    }
}

.contacts,
.downloads {
    &__link {
        line-height: 1.3;
        margin-bottom: rem(20px);
        align-items: center;
        font-size: rem(24px);
        .svg {
            width: auto;
            height: auto;
            margin-right: rem(10px);
        }
    }
}

.contacts__link {
    color: $black;
    &:hover {
        color: $green;
    }
}

.downloads__link {
    color: $green;
    span {
        transition: all .3s;
        border-bottom: 1px solid $green;
    }
    &:hover {
        color: $black;
        span {
            border-color: $black;
        }
    }
}

.social {
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: rem(20px);
    @include media('<992') {
        padding: rem(15px) 0;
    }
    &__title {
        align-items: center;
        justify-content: space-between;
        .title {
            margin-bottom: 0;
        }
    }
    &__list {
        @include media('<550px') {
            padding: rem(15px) 0;
        }
        li {
            margin-left: rem(32px);
            @include media('<550px') {
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        a {
            display: block;
            &:hover {
                opacity: .6;
            }
        }
        .svg {
            width: auto;
            height: auto;
        }
    }
}

.location {
    font-size: rem(24px);
    max-width: rem(540px);
    line-height: 1.2;
}

.useful-link {
    font-weight: 500;
    display: inline-block;
    font-size: rem(17px);
    line-height: 1.8;
    color: rgba(38, 38, 55, 0.85);
    border-bottom: 1px solid $green;
    &:hover {
        color: $green;
    }
}

/*
*************
    MODAL
*************
*/
.fancybox-bg {
    background: rgba(0, 0, 0, 0.6);
}

.fancybox-is-open .fancybox-bg {
    opacity: 1;
}
.fancybox-slide--html{
    padding: 0;
}
.fancybox-slide:before{
    //content: none;
}
.modal {
    display: none;
    &--tariff,
    &--action,
    &--project{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: #F4F4F8;
        padding: rem(15px);
        .fancybox-is-open &{
            display: flex!important;
        }
        .modal{
            &__body{
                max-width: rem(800px);
            }
            &__title{
                margin-bottom: rem(35px);
                width: 100%;
                text-align: center;
                &::after{
                    content: none;
                }
            }
            &__form{
                max-width: rem(415px);
                margin: 0 auto;
                input{
                    border: 1px solid #E5E5E5;
                    background-color: #fff;
                    height: rem(60px);
                    display: block;
                    font-size: rem(16px);
                    text-indent: rem(20px);
                    color: rgba(38, 38, 55, 0.85);
                    width: 100%;
                    margin-bottom: rem(30px);
                    &::-webkit-input-placeholder {
                        color: rgba(38, 38, 55, 0.85);
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    &::-moz-placeholder {
                        color: rgba(38, 38, 55, 0.85);
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    &:-ms-input-placeholder {
                        color: rgba(38, 38, 55, 0.85);
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    &:-moz-placeholder {
                        color: rgba(38, 38, 55, 0.85);
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
            &__des{
                font-size: rem(16px);
                line-height: 1.8;
                color: $black;
                strong{
                    font-weight: 600;
                }
                p{
                    margin-bottom: rem(30px);
                }
            }
        }
        .btn{
            width: 100%;
        }
    }
    &--action{
        .modal{
            &__des{
                text-align: center;
            }
            &__subtitle{
                font-size: rem(24px);
                text-align: center;
                font-weight: 700;
                margin-bottom: rem(35px);
            }
        }
    }
    &--project{
        .modal__title{
            margin-bottom: rem(50px);
        }
    }
    &--thanks {
        background: rgba(38, 38, 55, 1);
        max-width: rem(430px);
        padding: 0;
        width: 100%;
        &__body {
            height: rem(330px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: space-around;
            text-align: center;
        }
        &__title {
            font-family: $Montserrat;
            font-weight: 800;
            font-size: rem(33px);
            text-transform: uppercase;
            color: #F1F2F2;
        }
        &__ico {
            padding: rem(35px) 0;
            .svg {
                height: auto;
                width: rem(70px);
            }
        }
        &__status {
            font-family: $Montserrat;
            font-weight: 600;
            font-size: rem(24px);
            text-transform: uppercase;
            color: #C6D1D7;
        }
        .fancybox-button svg {
            color: $green;
            fill: $green;
        }
    }
}
.checkbox{
    position: relative;
    display: block;
    margin-bottom: rem(30px);
    input{
        opacity: 0;
        position: absolute;
        display: block!important;
        width: 0!important;
        height: 0!important;
        left: rem(15px);
        bottom: rem(-30px);
    }
    span{
        display: flex;
        align-items: center;
        font-size: rem(16px);
        &::before{
            cursor: pointer;
            content: '';
            color: rgba(38, 38, 55, 0.85);
            margin-right: rem(25px);
            background: #F4F4F8 no-repeat center;
            border: 2px solid #C1C4D6;
            border-radius: rem(6px);
            width: rem(32px);
            height: rem(32px);
            transition: all .3s;
        }
    }
    input:checked + span::before{
        background: #F4F4F8 url(../img/svg/check.svg) no-repeat center / rem(15px);
    }
}
.svg-icon{
    @include media('>1200') {
        .g{
            opacity: 0;
            transition: all 1.5s;
            .animation--svg &{
                opacity: 1;
                transform: translate(0,0);
            }
        }
    }
}
@include media('>1200') {
    .svg-advantage-audit{
        .g1 {
            transform: translate(rem(-52px), rem(31px));
        }
        .g2 {
            transform: translate(rem(-52px), rem(-31px));
            transition-delay: .5s;
        }
        .g3 {
            transform: translate(rem(-52px), rem(-31px));
            transition-delay: 1s;
        }
        .g4 {
            transform: translate(rem(-52px), rem(-31px));
            transition-delay: 1.5s;
        }
    }
    .svg-advantage-model{
        .g1 {
            transform: translate(0, rem(31px));
        }
        .g2 {
            transform: translate(0, rem(-31px));
            transition-delay: .5s;
        }
        .g3 {
            transform: translate(rem(52px), rem(41px));
            transition-delay: .7s;
        }
        .g4 {
            transform: translate(rem(52px), rem(41px));
            transition-delay: 1s;
        }
        .g5 {
            transform: translate(rem(52px), rem(41px));
            transition-delay: 1.3s;
        }
    }
    .svg-advantage-position{
        .g1 {
            transform: translate(rem(52px), rem(41px));
            transition-delay: .8s;
        }
        .g2 {
            transform: translate(rem(-52px), rem(31px));
        }
    }
    .svg-advantage-visual{
        .g1 {
            transform: translate(rem(52px), rem(31px));
        }
        .g2 {
            transform: translate(rem(52px), rem(31px));
            transition-delay: .5s;
        }
        .g3 {
            transform: translate(rem(52px), rem(31px));
            transition-delay: 1s;
        }
    }
    .svg-advantage-prodaction{
        .g1 {
            transform: translate(rem(52px), rem(31px));
        }
        .g2 {
            transform: translate(rem(52px), rem(31px));
            transition-delay: .5s;
        }
        .g3 {
            transform: translate(rem(52px), rem(31px));
            transition-delay: 1s;
        }
    }

    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span{
	display: none;
}
#fp-nav ul li,
.fp-slidesNav ul li {
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	position: relative;
}
#fp-nav ul li a,
.fp-slidesNav ul li a{
	flex: 0 0 0.4375rem;
	width: 0.4375rem;
	height: 0.4375rem;
	display: block;
	background-color: #262637;
	border-radius: 20px;
	margin: 0 0 1.5rem;
	border: 1px solid #fff;
	transition: all .3s;
	cursor: pointer;
}
#fp-nav ul li a.active,
#fp-nav ul li:hover a.active,
.fp-slidesNav ul li a.active,
.fp-slidesNav ul li:hover a.active{
	background-color: #C6D1D7;
}

